body{
    text-align: center; 
    background-color: #fcf8ec;
    width: 70%;
    margin: 0 auto;
}


.container{
    text-align: center;
    margin: 0 auto;
}


.row{
    height: 18rem;
}


.hands{
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 10% 7% 15% 7%;
}

.prob{
    padding-top: 15%;
    font-family: 'Mukta', sans-serif;
    font-size: 200%;
    color: #79a3b1;
}

.calcprob{
    font-family: 'Mukta', sans-serif;
    font-size: 250%;
}


img{
    width: 40%;
}

h1{
    padding-top: 3%;
    color: #79a3b1;
    font-size: 450%;
    font-family: 'Texturina', serif;
}


footer{
    margin: 10%;
}

.player{
    font-family: 'Zilla Slab Bold 700', serif;
    font-weight: bolder;
    font-size: 250%;
    color: #aed8eb;
}

.game1{
    transform: rotate(0deg);
}

.game2{
    transform: rotate(180deg);
}

.Playbtn{
    margin: 5% 0;
}

.footer{
    /* margin-top: 10%; */
    margin: 10% 50%;
    padding: 0 0 5% 0;
    text-align: center;
}