body{
    text-align: center; 
    background-color: #fcf8ec;
    width: 70%;
    margin: 0 auto;
}




.container{
    text-align: center;
    margin: 0 auto;
}


.hands{
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 10% 7% 15% 7%;
}


img{
    width: 40%;
}

h1{
    padding-top: 3%;
    color: #79a3b1;
    font-size: 450%;
    font-family: 'Texturina', serif;
}

.Playbtn{
    color: red;
}

footer{
    margin: 10%;
}

.player{
    font-family: 'Zilla Slab Bold 700', serif;
    font-weight: bolder;
    font-size: 150%;
    color: #aed8eb;
}